@using SmartStore.Web.Models.Common;

<div class="order-and-pay-bar">
    <a id="btn-to-order" class="btn btn-success" href="@Url.Action("OrderCake", "Home")" style="width: 5em">@T("order.toOrder")</a>
    @*<a id="btn-to-pay" class="btn btn-warning" href="@Url.Action("PayCake", "Home")" style="margin-left: 5em; width: 5em">@T("order.toPay")</a>*@
</div>