@model PhonesModel
@using SmartStore.Web.Models.Common;

<span id="phones-bar">
    @foreach (var phone in Model.Phones)
    {
        <span style="margin-left: 10px">
            <a href="tel:@phone.Number">
                <i class="fa fa-call"></i>
                <span>@phone.OutputNumber</span>
            </a>
        </span>
    }
</span>